body {
  margin: 0px;
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.child-container {
  align-self: center;
}

h1 {
  text-align: center;
}

.content {
  display: inline-block;
  margin: 0% 30%;
  padding: 20px 0px;
}

#author {
  text-align: end;
}

.new-quote {
  display: block;
  margin-left: auto;
  height: fit-content;
}

.twitter-logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.clickable-elems {
  display: flex;
  flex-flow: row-reverse;
  margin: 0% 30%;
}